@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --clr-primary: #6366F1;
    --clr-muted-text: #9397AD;
    --clr-body-text: #565973;
    --clr-secondary-text: #585C7B;
    --clr-btn-green: #22C55E;
    --clr-primary-bg: #ffffff;
    --clr-secondary-bg: #F3F6FF;
    --clr-nav-text: #33354D;
    --clr-discover-more-bg: #fff;
    --clr-review-card-bg: #fff;
    --clr-btn-applegoogle: #131022;
}

html {
    color-scheme: light;
}

/*Dark Mode adjustments*/
.dark-mode, .showcase-section .discover-more .dark-mode {
    display: none;
}

.dark {
    .header-container .header-logo {
        display: none;
    }

    .header-container .dark-mode {
        display: flex;
        padding-right: 1.2rem;
    }

    .apple-logo, .google-logo{
        display: none;
    }

    .dark-mode{
        display: block;
    }
    
    .discover-more .pointer {
        display: none;
    }
    .discover-more .dark-mode {
        display: flex;
    }

    .light-mode{
        display: none;
    }

    .item1-icon {
        display: none;
    }
    
    .features-items .dark-mode {
        display: flex;
        padding-right: 1rem;
    }

    .box-4 .dark-mode {
        display: flex;
    }

    .faq-item {
        background-color: var(--clr-secondary-bg);
    }

    .contact-options .option {
        border: 1.5px solid #30333b;
    }

    .subscribe-form input {
        border: 1px solid #30333b;
    }
    .subscribe-form button {
        border: 1px solid #30333b;
    }

    .faq-item, .faq-item-text-mobile {
        border: 1px solid #363443;
    }
}


.dark {
    color-scheme: dark;
    --clr-primary-bg: #0B0F19;
    --clr-secondary-bg: #151922;
    --clr-discover-more-bg: #221f31;

    
    --clr-primary: #6366F1;
    --clr-muted-text: #85878c;
    --clr-body-text: #b6b7ba;
    --clr-secondary-text: #b9babd;
    --clr-btn-green: #22C55E;
    --clr-nav-text: #dddddf;
    --clr-review-card-bg: #1e222b;
    --clr-btn-applegoogle: #f3f6ff;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

header {
    margin: 0 auto;
    background-color: var(--clr-primary-bg);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    width: 90vw;
    margin: 0 auto;
}

.left-side-header {
    display: flex;
    align-items: center;
}


.left-side-header nav {
    cursor: pointer;
    color: var(--clr-nav-text);
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

.left-side-header nav:hover{
    transform: scale(1.1);
}


.right-side-header{
    display: flex;
}

.right-side-header h5 {
    color: var(--clr-body-text);
}

.right-side-header nav {
    max-height: 36px;
}

.dark-mode-switch{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.switch-button{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var();
    border-radius: 50%;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-muted-text);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--clr-primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--clr-primary);
}

input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round::before{
    border-radius: 50%;
}

.sign-in-button {
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-left:  30px;
    padding-right: 30px;
}

.sign-in-button span, i, a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sign-in-button i {
    padding-right: 0.5rem;
}
.btn-burger-menu{
    cursor: pointer;
}

.showcase-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    background-color: var(--clr-primary-bg);
}

.showcase-section h1 {
    width: 85%;
    font-weight: 800;
    font-size: 34px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.showcase-section #commercial-text {
    color: var(--clr-secondary-text);
    font-size: 18px;
}

.showcase-logos {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    margin: 0 auto;
}

.showcase-logos .apple-logo {
    background-color: var(--clr-btn-applegoogle);
    margin-top: 3rem;
    transform: scale(1.1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.showcase-section .google-logo{
    background-color: var(--clr-btn-applegoogle);
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    transform: scale(1.1);
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.discover-more {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 15%;
}

.discover-more .pointer{
    background-color: var(--clr-discover-more-bg);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.discover-more img {
    transform: scale(0.5);
}
.discover-more span {
    font-size: 14px;
}

.showcase-section {
    background-image: linear-gradient(var(--clr-primary-bg), var(--clr-secondary-bg));
}

.section-brand {
    background-color: var(--clr-primary-bg);
}

.features-section {
    background-color: var(--clr-primary-bg);
    padding-bottom: 3rem;
}

.features-introduction {
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.features-introduction h1 {
    padding-top: 2rem;
    font-weight: 800;
    font-size: 28px;
    margin-top: 0;
}

.features-introduction span {
    color: var(--clr-secondary-text);
    font-size: 18px;
}

.item-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding-bottom: 2rem;
    max-width: 95%;
    margin: 0 auto;
}

.item-container h2 {
    font-weight: 800;
    font-size: 20px;
}

.item-container p {
    color: var(--clr-secondary-text);
    font-size: 16px;
}

.item-container img {
    padding-top: 1.2rem;
    margin-left: 2rem;
}

.how-does-it-work-section{
    background-color: var(--clr-secondary-bg);
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.how-does-it-work-section h1 {
    font-weight: 800;
    font-size: 28px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.how-does-it-work-section img {
    max-width: 270px;
    padding-bottom: 2rem;
}

.how-does-it-work-section h2 {
    font-weight: 800;
    font-size: 22px;
    width: 70%;
    margin: 0 auto;
}

.how-does-it-work-section p {
    font-size: 16px;
    color: var(--clr-secondary-text);
    padding-top: 1rem;
    width: 93%;
    padding-bottom: 4rem;
    margin: 0 auto;
}

.faq-section{
    background-color: var(--clr-primary-bg);
}

.faq-introduction {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    max-width: 90%;
}

.faq-introduction h1 {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    padding-top: 2rem;
    width: 90%;
    align-self: center;
}

.faq-introduction p {
    font-size: 18px;
    text-align: center;
    max-width: 90%;
    color: var(--clr-secondary-text);
    padding-bottom: 3rem;
    align-self: center;
}

.faq-section .container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-inline-start: 0px;
    width: 90%;
}

.faq-item, .faq-item-text-mobile {
    border: 1px solid #E2E5F1;
}

@media (max-width:768px) {
    .faq-section .container ul li:first-child .faq-item {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .faq-section .container ul li:last-child .faq-item {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .faq-section .container ul li:not(:last-child) .faq-item, ul li:not(:last-child) .faq-item-text-mobile {
        border-bottom: 0;
    }
}



.faq-item h3 {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.faq-item img {
    cursor: pointer;
}

.faq-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.faq-item-text-mobile{
    padding: 2rem;
    font-size: 14px;
    color: var(--clr-secondary-text);
}

.faq-section .container ul li:last-child {
    margin-bottom: 3rem;
}

.contact-us-button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    color: white;
    border: none;
    width: 163px;
    height: 50px;
    font-family: "Manrope";
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.subscribe-section {
    background-color: var(--clr-primary-bg);
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.subscribe-section .container {
    width: 90%;
    margin: 0 auto;
    background-color: var(--clr-secondary-bg);
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.subscribe-attention {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-weight: 800;
    font-size: 16px;
    margin-left: 1rem;
}

.subscribe-attention h1 {
    text-align: left;
    font-size: 22px;
    padding-left: 1rem;
    font-weight: 800;
}

.subscribe-section .container form {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    height: 60px;
    width: 90%;
}

.subscribe-form input {
    border: 1px solid #D4D7E5;
    font-family: "Manrope";
    font-size: 16px;
    border-right: none;
    width: 65%;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 1rem;
}

::placeholder {
    color: #B4B7C9;
}

.subscribe-form button {
    border: 1px solid #D4D7E5;
    background-color: var(--clr-primary);
    color: white;
    font-family: "Manrope";
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    width: 35%;
    font-weight: 600;
    font-size: 16px;
}


footer .container {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    text-align: center;
    color: var(--clr-muted-text);
    padding-bottom: 1.5rem;
}

footer {
    background-color: var(--clr-primary-bg);
}






/* Responsive code */

.left-side-header nav, .sign-in-button, .dark-mode-switch h5{
    display: none;
}

.showcase-section #phone-image, .features-phone-image, .brand-section, #slideshow-image-1, #slideshow-image-2 {
    display: none;
}

.how-does-it-work-section #desktop-h2, #desktop-p{
    display: none;
}

.how-does-it-work-2 .container, .client-reviews, .contact-options, .faq-section .container ul #desktop-version, .faq-answer-desktop, #desktop-up-arrow, #subscribe-desktop-text {
    display: none;
}
footer .container-desktop, #commercial-text-tablet {
    display: none;
}

.how-does-it-work-section .slideshow-tablet, .how-does-it-work-section .tablet-instructions, .desktop-slideshow, .brand-section-tablet{
    display: none;
}





/* For tablet */
@media (min-width: 768px) and (max-width: 1280px){
    header {
        width: 100%;
    }
    .header-container{
        display: flex;
        width: 95%;
        margin-right: 1rem;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    nav .btn-burger-menu{
        padding: 0;
        margin: 0;
    }

    .left-side-header {
        display: flex;
    }

    .right-side-header {
        display: flex;
        align-items: center;
    }

    .dark-mode-switch h5 {
        display: block;
        color: var(--clr-body-text);
        font-size: 16px;
        font-weight: 600;
    }
    .right-side-header {
        padding-right: 2rem;
    }


    .dark-mode-switch{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-right: 1rem;
    }

    .dark-mode-switch .switch-button {
        width: 46px;
        height: 24px;
    }

    .slider::before{
        height: 16px;
        width: 16px;
        
    }

    input:checked + .slider::before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(22px);
    }

    .showcase-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .showcase-section .section-container {
        display: grid;
        grid-template-columns: repeat(19, minmax(0, 1fr));
        grid-template-rows: auto;
        margin: 0 auto;
    }

    .section-container h1 {
        grid-column: 5 / 16;
        width: 100%;
        font-size: 44px;
    }

    .section-container #commercial-text {
        display: none;
    }
    .section-container #commercial-text-tablet {
        display: block;
        grid-row: 2 / 3;
        grid-column: 1 / 9;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 5.5rem;
        align-self: start;
    }

    #commercial-text-tablet span {
        font-size: 18px;
        color: var(--clr-secondary-text);
        padding-left: 2rem;
    }

    .section-container .showcase-logos {
        grid-row: 2 / 3;
        grid-column: 1 / 7;
        flex-direction: row;
        justify-content: left;
        width: auto;
        margin-top: 15rem;
        gap: 1rem;
        margin-left: 2rem;
    }

    .showcase-section .apple-logo {
        margin-top: 0px;
        width: 126px;
        height: 44px;
        text-align: center;
        justify-content: center;
        transform: scale(1);
    }

    .showcase-section .apple-logo img {
        width: 92px;
    }

    .showcase-section .google-logo img {
        width: 104px;
    }
    .showcase-section .google-logo {
        margin-top: 0px;
        width: 126px;
        height: 44px;
        text-align: center;
        justify-content: center;
        transform: scale(1);
    }

    .section-container .discover-more {
        grid-row: 3 / 4;
        grid-column: 1 / 6;
        padding: 0;
        margin-top: 5rem;
        margin-left: 2rem;
        justify-content:unset;
        display: none;
    }

    .section-container #phone-image {
        display: flex;
        grid-column: 8 / 21;
        grid-row: 2 / 3;
        align-self: flex-end;
        width: 95%;
    }

    .features-introduction {
        max-width: 92%;
    }

    .features-introduction h1 {
        font-size: 33px;
    }

    .features-introduction span {
        font-size: 18px;
        width: 100%;
    }

    
    .features-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
        grid-column: 9 / 21;
        text-align: left;
        justify-content: left;
        row-gap: 2rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .item-container {
        display: grid;
        gap: 0;
    }

    .item-container img {
        margin: 0 auto;
        size: 100%;
        margin-right: 2rem;
    }

    .how-does-it-work-section .container h1{
        font-size: 33.5px;
    }

    .image-slideshow {
        display: none;
    }

    .how-does-it-work-section .slideshow-tablet {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding-top: 2rem;
        justify-content: center;

    }

    .how-does-it-work-section #mobile-h2, .how-does-it-work-section #mobile-p {
        display: none;
    }

    .how-does-it-work-section .tablet-instructions {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 1rem;

        h2 {
            font-size: 23px;
            font-weight: 800;
            width: 55%;

        }

        p {
            font-size: 16px;
            color: var(--clr-secondary-text);
            width: 57%;
        
        }
    }

    .faq-introduction{
        h1 {
            font-size: 32px;
            font-weight: 800;
            width: 50%;
        }
        p {
            font-size: 18px;
            width: 60%;
        }
    }

    .faq-section .container ul {
        grid-column: 5 / 11;
        grid-row: 1 / 3;
        width: 90%;
        border: none;
    }

    .faq-item {
        padding-right: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                    0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

        padding-right: 2rem;
    }

    .faq-section .container ul #mobile-version, .faq-item-text-mobile{
        display: none;
    }

    .faq-section .container ul #desktop-version {
        display: block;
    }

    .faq-answer-desktop{
        display: flex;
        justify-content: end;
        color: var(--clr-body-text);
    }

    .contact-us-button {
        display: none;
    }

    .faq-item-text-mobile {
        display: none;
    }

    .faq-answer-desktop{
        display: flex;
        justify-content: end;
        color: var(--clr-body-text);
        
    }

    .faq-with-paragraph {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: max-content;
    }

    .faq-with-paragraph h3 {
        grid-column: 1 / 8;
    }

    .faq-answer-desktop {
        grid-column: 1 / 10;
        grid-row: 2 / 2;
    }

    #desktop-up-arrow {
        display: flex;
        justify-self: end;
        grid-column: 9 / 10;

    }

    #mobile-down-arrow {
        display: none;
    }

    .contact-options {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        width: 90%;
        margin: 0 auto;
        gap: 1.5rem;
    }

    .contact-options .option {
        border: 1.5px solid #E2E5F1;
        border-radius: 8px;
        padding: 1.5rem;
        width: 100%;
    }

    .contact-options .option p {
        color: var(--clr-body-text);
        font-size: 14px;
        padding-top: 1rem;
    }

    .contact-options .option #blue {
        color: var(--clr-primary);
        font-weight: 600;
        font-size: 14px;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }
    .contact-options .option #green {
        color: var(--clr-btn-green);
        font-weight: 600;
        font-size: 14px;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }

    .subscribe-section .container {
        display: flex;
        margin-top: 2rem;

        .subscribe-attention {
            margin-right: 1rem;
        }

        .subscribe-form {
            margin-top: 1.5rem;
            height: 52px;
            width: 65%;
            padding-right: 2rem;
        }
    }

    .section-brand {
        background-color: var(--clr-primary-bg);
        margin: 0 auto;
    }

    .brand-section-tablet {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 3rem;
        padding-bottom: 2rem;

        img {
            max-width: 160px;
        }
    }
    
}
 


/*For Desktop */
@media (min-width:1280px) {
    .header-container{
        max-width: 1320px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
    }

    .left-side-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .left-side-header img {
        vertical-align: bottom;
    }

    .right-side-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    header .left-side-header nav {
        display: block;
    }


    .btn-burger-menu{
        display: none;
    }

    .dark-mode-switch h5 {
        font-size: 16px;
        display: flex;
        padding-right: 1rem;
        font-weight: 600;
    }

    .sign-in-button {
        background-color: var(--clr-primary);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        height: 40px;
    }

    .sign-in-button span {
        font-size: 16px;
    }

    .showcase-section .section-container {
        display: grid;
        grid-template-columns: repeat(20, minmax(0,1fr));
        margin: 0 auto;
    }

    .showcase-section .section-container {
        max-width: 1320px;
    }

    .showcase-section .section-container h1 {
        grid-row: 1 / 2;
        grid-column: 1 / 9;
        text-align: left;
        font-size: 56px;
        width: 100%;
        margin-top: 10rem;
        margin-bottom: 0px;
    }

    .showcase-section #commercial-text {
        display: flex;
        font-size: 18px;
        grid-row: 2 / 3;
        grid-column: 1 / 8;
        padding-top: 1rem;
        text-align: left;
    }

    .discover-more {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 14 / 17;
    }

    .showcase-section .apple-logo {
        margin-top: 0px;
        width: 180px;
        height: 52px;
        text-align: center;
        justify-content: center;
        transform: scale(1);
    }

    .showcase-section .google-logo {
        margin-top: 0px;
        width: 180px;
        height: 52px;
        transform: scale(1);
        text-align: center;
        justify-content: center;
    }

    .showcase-section .showcase-logos {
        display: flex;
        grid-row: 3 / 4;
        grid-column: 1 / 10;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        justify-content: left;
        margin-top: 2rem;
    }

    .showcase-section #phone-image {
        display: flex;
        grid-row: 1 / 20;
        grid-column: 10 / 21;
        width: 95%;
        padding-top: 7rem;
        align-items: flex-end;

    }

    .features-section .container {
        background-color: var(--clr-primary-bg);
        padding-top: 5rem;
        max-width: 1320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(20, minmax(0,1fr));
    }

    .features-phone-image {
        display: block;
        grid-row: 1 / 20;
    }

    .features-introduction h1 {
        margin: 0;
        padding-top: 0;
        padding-bottom: 1rem;
        font-size: 40px;
        font-weight: 800;
    }

    .features-introduction span {
        color: var(--clr-muted-text);
        font-size: 18px;
    }


    .features-introduction {
        grid-column: 9 / 21;
        text-align: left;
        max-width: 100%;
        padding-left: 0px;
    }

    .features-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
        grid-column: 9 / 21;
        text-align: left;
        justify-content: left;
        row-gap: 2rem;
        padding-left: 1rem;
    }

    .item-container {
        display: grid;
        gap: 0;
    }

    .item-container img {
        margin: 0 auto;
        size: 100%;
    }

    .features-items {
        margin-left: -2rem;
    }

    .brand-section {
        background-color: var(--clr-primary-bg);
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1320px;
        gap: 1rem;
    }

    .section-brand {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    #slideshow-image-1, #slideshow-image-2, #slideshow-main {
        display: block;
        height: 663px;
    }

    .image-slideshow {
        display: flex;
        margin: 0 auto;
        width: 1320px;
    }

    .how-does-it-work-section #mobile-h2, #mobile-p {
        display: none;
    }

    .how-does-it-work-section #desktop-h2 {
        display: block;
        font-size: 24px;
        padding-bottom: 2rem;
        margin: 0 auto;
    }

    .how-does-it-work-section #desktop-p {
        display: block;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        max-width: 50%;
    }

    .how-does-it-work-2 {
    background-color: var(--clr-primary-bg);  
    }

    .how-does-it-work-2 .container {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1045px;
        margin: 0 auto;
        padding-top: 5rem;
        align-items: center;
        padding-bottom: 5rem;
    }



    .how-does-it-work-2 .container .learn-more-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-primary);
        color: white;
        border: none;
        width: 160px;
        height: 45px;
        font-family: "Manrope";
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
    }

    .fa-arrow-right {
        font-size: 14px;
        padding-top: 0.25rem;
    }

    .box-1{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 75%;

    }

    .box-1 h2{
        font-size: 32px;
        font-weight: 800;
        text-align: left;
    }

    .box-1 ul li{
        list-style-type: none;
        font-size: 16px;
        color: var(--clr-body-text);
        padding-bottom: 1rem;
    }

    .box-1 ul {
        padding-left: 0;
    }

    .fa-solid{
        color: var(--clr-primary);
        border: 3px solid var(--clr-primary);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }
    .fa-circle-check {
        color: var(--clr-primary);
    }
    .box-2 img {
        max-height: 500px;
    }


    .box-3 {
        margin: 0 auto;
    }

    .box-4 h2 {
        font-size: 32px;
        font-weight: 800;
        text-align: left;
    }

    .box-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .box-4 h2 {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 3;
    }
    .box-4 #payment-section img, .box-4 #cashback-section img {
        padding-bottom: 1rem;
    }

    .box-4 button {
        grid-row: 3/3;
        margin-top: 3rem;
    }

    .box-4 p {
        font-size: 16px;
        color: var(--clr-body-text);
    }

    .client-reviews {
        display: block;
        background-color: var(--clr-secondary-bg);  
        padding-bottom: 3rem;  
    }

    .client-reviews .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1320px;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        gap: 1.5rem;
    }

    .reviews-introduction h2{
        font-size: 40px;
        font-weight: 800;
        margin: 0;
        width: 70%;
    }

    .review-card {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: var(--clr-review-card-bg);
        border-radius: 10px;
        padding-bottom: 1rem;
        box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
        box-shadow: 0px 4.4px 6.4px -1px rgba(19, 16, 34, 0.03);
    }
    .review-card .quotemark {
        position: relative;
        top: -1.5rem;
        left: 1.5rem;
        box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
    }

    .review-card .stars{
        padding-left: 1rem;
    }

    .review-card p {
        font-size: 18px;
        padding: 1rem;
    }

    .review-card .profile {
        display: flex;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .review-card h3 {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }

    .review-card h4 {
        font-size: 14px;
        font-weight: 400;
        color: var(--clr-muted-text);
        margin: 0;
        padding-left: 1rem;
    }

    .faq-section .container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: repeat(2, 1fr);
        max-width: 1320px;
        margin: 0 auto;
        padding-top: 5rem;
    }

    .faq-introduction {
        display: flex;
        align-items: start;
        grid-column: 1 / 5;
        margin: 0;
   
    }
    .faq-introduction h1{
        text-align: left;
        align-self: flex-start;
        padding: 0;
        margin: 0;
        font-size: 32px;
        max-width: 65%;
        padding-bottom: 2rem;
    }
    .faq-introduction p{
        text-align: left;
        align-self: flex-start;
        padding: 0;
        margin: 0;
        font-size: 18px;
        max-width: 85%;
    }

    .contact-options {
        display: flex;
        align-items: flex-start; 
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        min-width: 0;
        justify-content:space-between;
    }

    .contact-options .option {
        border: 1.5px solid #E2E5F1;
        border-radius: 8px;
        padding: 1.5rem;
    }

    .contact-options .option p {
        color: var(--clr-body-text);
        font-size: 14px;
        padding-top: 1rem;
    }

    .contact-options .option #blue {
        color: var(--clr-primary);
        font-weight: 600;
        font-size: 14px;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }
    .contact-options .option #green {
        color: var(--clr-btn-green);
        font-weight: 600;
        font-size: 14px;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
    }

    .faq-section .container ul {
        grid-column: 5 / 11;
        grid-row: 1 / 3;
        width: 100%;
        border: none;
    }

    .faq-item {
        padding-right: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                    0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);

        padding-right: 2rem;
    }

    .faq-section .container ul #mobile-version {
        display: none;
    }
    .faq-section .container ul #desktop-version {
        display: block;
    }

    .contact-us-button {
        display: none;
    }

    .faq-item-text-mobile {
        display: none;
    }

    .faq-answer-desktop{
        display: flex;
        justify-content: end;
        color: var(--clr-body-text);
        
    }

    .faq-with-paragraph {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: max-content;
    }

    .faq-with-paragraph h3 {
        grid-column: 1 / 8;
    }

    .faq-answer-desktop {
        grid-column: 1 / 10;
        grid-row: 2 / 2;
    }

    #desktop-up-arrow {
        display: flex;
        justify-self: end;
        grid-column: 9 / 10;

    }

    #mobile-down-arrow {
        display: none;
    }

    .subscribe-section .container #subscribe-mobile-text {
        display: none;
    }

    .subscribe-section .container #subscribe-desktop-text {
        display: block;
        font-size: 24px;

    }

    .subscribe-section .container {
        display: flex;
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .subscribe-attention {
        padding-left: 5rem;
        width: 50%;
        gap: 1rem;
    }

    .subscribe-section .container form{
        width:45%
    }
    .subscribe-form button {
        width: 25%;
    }

    footer .container {
        display: none;
    }
    footer .container-desktop {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        text-align: center;
        color: var(--clr-muted-text);
        padding-bottom: 3rem;
    }
    
    /*CHANGE OF CODE; REALISING THE SLIDESHOW IS FOR PHONE VERSION*/

    .how-does-it-work-section .container .image-slideshow{
        display: none;
    }

    .how-does-it-work-section .container {
        width: 1320px;
    }
    .how-does-it-work-section .container .desktop-slideshow {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-around;
    }

    .desktop-slideshow img {
        max-width: 328px;
    }

}                                       


